body{
    text-align: center;
}

#game {
    background-color: blue;
    display: inline-block;
    /* height: 250px; */
}

.col{
    width: 80px;
    height: 80px;
    display: inline-block;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.next-red{
    background-color: rgba(255, 0, 55, .7)
}